{
  "openapi": "3.0.0",
  "info": {
    "title": "Evo Partner API",
    "description": "API for accessing Evo Partner API",
    "version": "1.0.0",
    "contact": {
      "name": "Evo Security"
    },
    "license": {
      "name": "Evo Security",
      "url": "https://evosecurity.com"
    }
  },
  "servers": [
    {
      "url": "https://partner-api.evosecurity.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API_KEY",
        "description": "API Key Authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "object",
            "description": "Validation errors object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 100
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 5
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "data": {
            "type": "object",
            "description": "Response data"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "description": "Array of items for the current page",
            "items": {
              "type": "object"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          },
          "email": {
            "type": "string",
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "description": "User last name"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether the user is an admin"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the user is active"
          },
          "deactivatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the user was deactivated (nullable)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "User creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "User last update timestamp"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment"
          },
          "directory": {
            "$ref": "#/components/schemas/Directory"
          },
          "licenses": {
            "type": "array",
            "description": "Licenses currently assigned to the user",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "License ID"
                },
                "name": {
                  "type": "string",
                  "description": "License name"
                }
              }
            }
          },
          "roleGroups": {
            "type": "array",
            "description": "List of role groups assigned to the user",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Role group UUID"
                },
                "name": {
                  "type": "string",
                  "description": "Role group name"
                }
              }
            }
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Environment ID"
          },
          "name": {
            "type": "string",
            "description": "Environment name"
          }
        }
      },
      "Directory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Directory ID"
          },
          "name": {
            "type": "string",
            "description": "Directory name"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default directory"
          },
          "integration": {
            "type": "object",
            "description": "Integration metadata for the cloud directory.",
            "properties": {
              "type": {
                "type": "string",
                "description": "Integration type (e.g., Cloud Directory, AzureAD, Google Workspace)"
              },
              "name": {
                "type": "string",
                "description": "Integration name"
              }
            }
          },
          "tenant": {
            "type": "object",
            "description": "Resolved tenant for this directory (derived from groups)",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Tenant ID"
              },
              "name": {
                "type": "string",
                "description": "Tenant name"
              }
            }
          },
          "environment": {
            "$ref": "#/components/schemas/Environment",
            "description": "Environment the directory belongs to"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Directory creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Directory last update timestamp"
          }
        }
      },
      "RoleGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Role group UUID"
          },
          "name": {
            "type": "string",
            "description": "Role group name"
          },
          "description": {
            "type": "string",
            "description": "Role group description"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "environment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Environment ID"
              },
              "name": {
                "type": "string",
                "description": "Environment name"
              }
            }
          },
          "roles": {
            "type": "array",
            "description": "List of roles in this role group",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Role ID"
                },
                "name": {
                  "type": "string",
                  "description": "Role display name"
                }
              }
            }
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Access token ID"
          },
          "name": {
            "type": "string",
            "description": "Access token name"
          },
          "accessToken": {
            "type": "string",
            "description": "The actual access token value (masked, showing last 6 characters)"
          },
          "secret": {
            "type": "string",
            "description": "Access token secret (masked, showing last 6 characters)"
          },
          "expireAt": {
            "type": "string",
            "format": "date-time",
            "description": "Access token expiration date"
          },
          "type": {
            "type": "string",
            "enum": [
              "endpoint_agent",
              "ldap_agent"
            ],
            "description": "Access token type"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the access token is active"
          },
          "tenant": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Tenant ID"
              },
              "name": {
                "type": "string",
                "description": "Tenant name"
              }
            },
            "description": "Associated tenant (if any)"
          },
          "directory": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Directory ID"
              },
              "name": {
                "type": "string",
                "description": "Directory name"
              }
            },
            "description": "Associated directory"
          },
          "settings": {
            "type": "object",
            "description": "Settings object (only returned on POST endpoint)",
            "properties": {
              "EnvironmentUrl": {
                "type": "string",
                "nullable": true,
                "description": "Environment URL"
              },
              "Domain": {
                "type": "string",
                "description": "Directory/Domain name"
              },
              "AccessToken": {
                "type": "string",
                "description": "Unmasked access token"
              },
              "Secret": {
                "type": "string",
                "description": "Unmasked secret"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Access token creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Access token last update timestamp"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Group ID"
          },
          "name": {
            "type": "string",
            "description": "Group name"
          },
          "description": {
            "type": "string",
            "description": "Group description"
          },
          "tenant": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Tenant ID"
              },
              "name": {
                "type": "string",
                "description": "Tenant name"
              }
            },
            "description": "Associated tenant"
          },
          "directory": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Directory ID"
              },
              "name": {
                "type": "string",
                "description": "Directory name"
              }
            },
            "description": "Associated directory (if any)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Group creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Group last update timestamp"
          }
        }
      },
      "GroupMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "firstName": {
            "type": "string",
            "description": "User first name"
          },
          "lastName": {
            "type": "string",
            "description": "User last name"
          }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Tenant ID"
          },
          "name": {
            "type": "string",
            "description": "Tenant name"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment",
            "description": "Environment the tenant belongs to"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default tenant for the environment"
          },
          "deactivatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the tenant was deactivated (nullable)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Tenant creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Tenant last update timestamp"
          }
        }
      },
      "TenantAccess": {
        "type": "object",
        "properties": {
          "tenant": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Tenant ID"
              },
              "name": {
                "type": "string",
                "description": "Tenant name"
              }
            }
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "License ID"
          },
          "name": {
            "type": "string",
            "description": "License name"
          }
        }
      },
      "EnvironmentLicense": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Environment license ID"
          },
          "amount": {
            "type": "integer",
            "description": "Number of licenses purchased for the environment"
          },
          "allocated_amount": {
            "type": "integer",
            "description": "Total number of licenses allocated to all tenants in this environment"
          },
          "assigned_amount": {
            "type": "integer",
            "description": "Total number of licenses assigned to users across all tenants in this environment"
          },
          "available_amount": {
            "oneOf": [
              {
                "type": "integer",
                "description": "Number of licenses available for allocation (purchased - allocated)"
              },
              {
                "type": "string",
                "enum": [
                  "unlimited"
                ],
                "description": "Unlimited licenses available (auto-expand enabled)"
              }
            ],
            "description": "Available licenses for allocation. Returns 'unlimited' if auto-expand is enabled, otherwise purchased - allocated"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether this license is enabled for the environment"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Environment license creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Environment license last update timestamp"
          },
          "license": {
            "$ref": "#/components/schemas/License"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment"
          }
        }
      },
      "ElevatedAssignment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Elevated assignment ID"
          },
          "name": {
            "type": "string",
            "description": "Name of the elevated assignment"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description of the elevated assignment"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the account is active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account last update timestamp"
          },
          "environment": {
            "$ref": "#/components/schemas/Environment"
          }
        }
      },
      "DomainAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Domain account ID"
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "Account username"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Account domain"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the account is active"
          },
          "type": {
            "type": "string",
            "enum": [
              "manual",
              "synced"
            ],
            "description": "Account type - 'manual' when manually managed, 'synced' when synchronized"
          },
          "interval": {
            "type": "integer",
            "nullable": true,
            "description": "Interval in hours for automated operations"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account last update timestamp"
          },
          "environment": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Environment"
              }
            ],
            "nullable": true
          },
          "directory": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Directory ID"
              },
              "name": {
                "type": "string",
                "description": "Directory name"
              }
            }
          },
          "tenant": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Tenant ID"
              },
              "name": {
                "type": "string",
                "description": "Tenant name"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "PageParameter": {
        "name": "page",
        "in": "query",
        "description": "Page number (starts from 1)",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "example": 1
        }
      },
      "LimitParameter": {
        "name": "limit",
        "in": "query",
        "description": "Number of items per page",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "example": 20
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - API key lacks required permission",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "Too many requests. Please try again later."
                },
                "retryAfter": {
                  "type": "integer",
                  "description": "Seconds until rate limit resets (same as RateLimit-Reset header but in relative seconds instead of Unix timestamp)",
                  "example": 600
                },
                "limit": {
                  "type": "integer",
                  "description": "Maximum requests allowed in the time window",
                  "example": 100
                },
                "window": {
                  "type": "string",
                  "description": "Time window for rate limiting",
                  "example": "600 seconds"
                }
              }
            }
          }
        },
        "headers": {
          "RateLimit-Limit": {
            "description": "Maximum requests allowed in the time window",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          "RateLimit-Remaining": {
            "description": "Remaining requests in the current window",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "RateLimit-Reset": {
            "description": "Unix timestamp (in seconds) when the rate limit resets. Use this or the retryAfter field in the response body (which provides the same information as relative seconds)",
            "schema": {
              "type": "integer",
              "example": 1634567890
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/users": {
      "get": {
        "summary": "Get all users",
        "description": "Get all active users for the current environment",
        "operationId": "getUsers",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query to filter users by email, firstName, or lastName (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantIds[]",
            "in": "query",
            "description": "Filter users by one or more tenant IDs. Only users with direct access to these tenants will be returned.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "directoryIds[]",
            "in": "query",
            "description": "Filter users by one or more directory IDs",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "isAdmin",
            "in": "query",
            "description": "Filter users by admin status. If not provided, returns all users regardless of admin status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create a new user",
        "description": "Create a new user in the current environment. If the user is an admin, tenant access will be automatically created based on the directory's associated tenant.",
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "directoryId",
                  "firstName",
                  "lastName",
                  "isAdmin"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User email address"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "User first name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "User last name"
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "description": "Whether the user is an admin"
                  },
                  "licenseIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of license IDs to assign to the new user"
                  },
                  "roleGroupIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of role group IDs to assign to the new user"
                  },
                  "directoryId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The Cloud Directory ID to assign to this user (must be a Cloud Directory)"
                  },
                  "sendWelcomeEmail": {
                    "type": "boolean",
                    "description": "Whether to send a welcome email to the user",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "licenseAssignments": {
                          "type": "array",
                          "description": "License assignment results (only present if licenses were assigned)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "licenseId": {
                                "type": "string",
                                "format": "uuid",
                                "description": "License ID"
                              },
                              "licenseName": {
                                "type": "string",
                                "description": "License name"
                              },
                              "success": {
                                "type": "boolean",
                                "description": "Whether assignment was successful"
                              },
                              "error": {
                                "type": "string",
                                "nullable": true,
                                "description": "Error message if assignment failed"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "Get user by ID",
        "description": "Get a single user by ID (only if active and in current environment)",
        "operationId": "getUserById",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Update user by ID",
        "description": "Update a user by ID. Optionally change Cloud Directory via directoryId. Note: Changing directoryId for an admin user will automatically create tenant access for the tenant associated with the new directory.",
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "User first name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "User last name"
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "description": "Whether the user is an admin"
                  },
                  "directoryId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Cloud Directory ID to associate with the user (must be a Cloud Directory). If the user is an admin, changing the directory will automatically create tenant access for the tenant associated with the new directory."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete user by ID",
        "description": "Delete a user by ID",
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/users/{id}/tenant_accesses": {
      "get": {
        "summary": "Get user tenant accesses",
        "description": "Retrieve all tenants that a user has access to. Returns a paginated list of tenant accesses. Requires canManageTenantAccess permission.",
        "operationId": "getUserTenantAccesses",
        "tags": [
          "Tenant Accesses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user tenant accesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TenantAccess"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        },
                        "totalCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - API key does not have canManageTenantAccess permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create user tenant accesses",
        "description": "Grant a user access to multiple tenants. User must be an admin. Some tenant accesses may succeed while others fail - check the response for details. Requires canManageTenantAccess permission.",
        "operationId": "createUserTenantAccesses",
        "tags": [
          "Tenant Accesses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenantIds"
                ],
                "properties": {
                  "tenantIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of tenant IDs to grant access to",
                    "minItems": 1
                  }
                }
              },
              "example": {
                "tenantIds": [
                  "fac499c3-74e1-4655-bf4d-f2cd823964d8",
                  "a1b2c3d4-5678-90ab-cdef-1234567890ab"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant accesses created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenantAccesses": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TenantAccess"
                          }
                        },
                        "failedItems": {
                          "type": "array",
                          "description": "List of failed tenant access creations (optional)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tenantId": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - User is not an admin or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - API key does not have canManageTenantAccess permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete user tenant accesses",
        "description": "Remove a user's access from multiple tenants. Some deletions may succeed while others fail - check the response for details. Requires canManageTenantAccess permission.",
        "operationId": "deleteUserTenantAccesses",
        "tags": [
          "Tenant Accesses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenantIds"
                ],
                "properties": {
                  "tenantIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of tenant IDs to remove access from",
                    "minItems": 1
                  }
                }
              },
              "example": {
                "tenantIds": [
                  "fac499c3-74e1-4655-bf4d-f2cd823964d8",
                  "a1b2c3d4-5678-90ab-cdef-1234567890ab"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant accesses deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deletedCount": {
                          "type": "integer",
                          "description": "Number of tenant accesses deleted"
                        },
                        "deletedUserTenantAccesses": {
                          "type": "array",
                          "description": "List of tenant IDs that were deleted",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tenantId": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "failedItems": {
                          "type": "array",
                          "description": "List of failed deletions (optional)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tenantId": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden - API key does not have canManageTenantAccess permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/users/{id}/role_groups": {
      "get": {
        "summary": "Get user role groups",
        "description": "Get role-based assignments for a user",
        "operationId": "getUserRoleGroups",
        "tags": [
          "Role-Based Permissions"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          },
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of role groups assigned to the user",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RoleGroup"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Add role groups to user",
        "description": "Add one or more role groups to a user without affecting existing assignments",
        "operationId": "addUserRoleGroups",
        "tags": [
          "Role-Based Permissions"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roleGroupIds"
                ],
                "properties": {
                  "roleGroupIds": {
                    "type": "array",
                    "description": "List of role group IDs to add to the user",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "example": [
                      "550e8400-e29b-41d4-a716-446655440000",
                      "660e8400-e29b-41d4-a716-446655440001"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role groups added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": "Array of successfully added role group IDs",
                          "example": [
                            "550e8400-e29b-41d4-a716-446655440000",
                            "660e8400-e29b-41d4-a716-446655440001"
                          ]
                        },
                        "failedItems": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          },
                          "description": "Array of failed additions (only present if there are failures)"
                        }
                      },
                      "required": [
                        "data"
                      ]
                    }
                  }
                },
                "examples": {
                  "allSuccess": {
                    "summary": "All role groups added successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          "550e8400-e29b-41d4-a716-446655440000",
                          "660e8400-e29b-41d4-a716-446655440001"
                        ]
                      }
                    }
                  },
                  "partialSuccess": {
                    "summary": "Some role groups failed to add",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          "550e8400-e29b-41d4-a716-446655440000"
                        ],
                        "failedItems": [
                          {
                            "id": "660e8400-e29b-41d4-a716-446655440001",
                            "error": "Role group with ID 660e8400-e29b-41d4-a716-446655440001 not found"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Remove role groups from user",
        "description": "Remove one or more role groups from a user",
        "operationId": "removeUserRoleGroups",
        "tags": [
          "Role-Based Permissions"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roleGroupIds"
                ],
                "properties": {
                  "roleGroupIds": {
                    "type": "array",
                    "description": "List of role group IDs to remove from the user",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "example": [
                      "550e8400-e29b-41d4-a716-446655440000",
                      "660e8400-e29b-41d4-a716-446655440001"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role groups removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": "Array of successfully removed role group IDs",
                          "example": [
                            "550e8400-e29b-41d4-a716-446655440000",
                            "660e8400-e29b-41d4-a716-446655440001"
                          ]
                        },
                        "failedItems": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          },
                          "description": "Array of failed removals (only present if there are failures)"
                        }
                      },
                      "required": [
                        "data"
                      ]
                    }
                  }
                },
                "examples": {
                  "allSuccess": {
                    "summary": "All role groups removed successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          "550e8400-e29b-41d4-a716-446655440000",
                          "660e8400-e29b-41d4-a716-446655440001"
                        ]
                      }
                    }
                  },
                  "partialSuccess": {
                    "summary": "Some role groups failed to remove",
                    "value": {
                      "success": true,
                      "data": {
                        "data": [
                          "550e8400-e29b-41d4-a716-446655440000"
                        ],
                        "failedItems": [
                          {
                            "id": "660e8400-e29b-41d4-a716-446655440001",
                            "error": "User does not have role group 660e8400-e29b-41d4-a716-446655440001"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/users/{id}/licenses": {
      "get": {
        "summary": "Get user's assigned licenses",
        "description": "Retrieve all licenses assigned to a specific user",
        "operationId": "getUserLicenses",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User's assigned licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "License ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "License name"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Assign licenses to a user",
        "description": "Assign multiple licenses to a single user. Only the following licenses can be assigned: MFA and SSO, Technician Elevation, Help Desk Verification.",
        "operationId": "assignLicensesToUser",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "licenseIds"
                ],
                "properties": {
                  "licenseIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1,
                    "description": "Array of license IDs to assign to the user. Must be one of: MFA and SSO, Technician Elevation, Help Desk Verification",
                    "example": [
                      "123e4567-e89b-12d3-a456-426614174000",
                      "223e4567-e89b-12d3-a456-426614174001"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License assignment results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "assigned": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": "Array of successfully assigned license IDs",
                          "example": [
                            "01993912-9e43-7a76-83cf-fd8f65fb69aa",
                            "01993912-9e43-709d-9d55-214c967f2785"
                          ]
                        },
                        "failedItems": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "licenseId": {
                                "type": "string",
                                "format": "uuid",
                                "description": "License ID that failed"
                              },
                              "error": {
                                "type": "string",
                                "description": "Error message"
                              }
                            }
                          },
                          "description": "Array of failed license assignments (only present if there are failures)",
                          "example": [
                            {
                              "licenseId": "123e4567-e89b-12d3-a456-426614174000",
                              "error": "License not found"
                            }
                          ]
                        }
                      },
                      "required": [
                        "assigned"
                      ]
                    }
                  }
                },
                "examples": {
                  "allSuccess": {
                    "summary": "All licenses assigned successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "assigned": [
                          "01993912-9e43-7a76-83cf-fd8f65fb69aa",
                          "01993912-9e43-709d-9d55-214c967f2785"
                        ]
                      }
                    }
                  },
                  "partialSuccess": {
                    "summary": "Some licenses failed to assign",
                    "value": {
                      "success": true,
                      "data": {
                        "assigned": [
                          "01993912-9e43-7a76-83cf-fd8f65fb69aa"
                        ],
                        "failedItems": [
                          {
                            "licenseId": "123e4567-e89b-12d3-a456-426614174000",
                            "error": "License not found"
                          },
                          {
                            "licenseId": "223e4567-e89b-12d3-a456-426614174001",
                            "error": "User already has this license"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid license type or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "License \"Basic License\" cannot be assigned to users. Only the following licenses can be assigned: MFA and SSO, Technician Elevation, Help Desk Verification"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Remove licenses from a user",
        "description": "Remove multiple licenses from a single user. Only the following licenses can be managed: MFA and SSO, Technician Elevation, Help Desk Verification.",
        "operationId": "removeLicensesFromUser",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "licenseIds"
                ],
                "properties": {
                  "licenseIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1,
                    "description": "Array of license IDs to remove from the user. Must be one of: MFA and SSO, Technician Elevation, Help Desk Verification",
                    "example": [
                      "123e4567-e89b-12d3-a456-426614174000",
                      "223e4567-e89b-12d3-a456-426614174001"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License removal results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "removed": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": "Array of successfully removed license IDs",
                          "example": [
                            "01993912-9e43-7a76-83cf-fd8f65fb69aa",
                            "01993912-9e43-709d-9d55-214c967f2785"
                          ]
                        },
                        "failedItems": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "licenseId": {
                                "type": "string",
                                "format": "uuid",
                                "description": "License ID that failed"
                              },
                              "error": {
                                "type": "string",
                                "description": "Error message"
                              }
                            }
                          },
                          "description": "Array of failed license removals (only present if there are failures)",
                          "example": [
                            {
                              "licenseId": "123e4567-e89b-12d3-a456-426614174000",
                              "error": "License not found"
                            }
                          ]
                        }
                      },
                      "required": [
                        "removed"
                      ]
                    }
                  }
                },
                "examples": {
                  "allSuccess": {
                    "summary": "All licenses removed successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "removed": [
                          "01993912-9e43-7a76-83cf-fd8f65fb69aa",
                          "01993912-9e43-709d-9d55-214c967f2785"
                        ]
                      }
                    }
                  },
                  "partialSuccess": {
                    "summary": "Some licenses failed to remove",
                    "value": {
                      "success": true,
                      "data": {
                        "removed": [
                          "01993912-9e43-7a76-83cf-fd8f65fb69aa"
                        ],
                        "failedItems": [
                          {
                            "licenseId": "123e4567-e89b-12d3-a456-426614174000",
                            "error": "License not found"
                          },
                          {
                            "licenseId": "223e4567-e89b-12d3-a456-426614174001",
                            "error": "User does not have this license"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid license type or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "License \"Basic License\" cannot be removed from users. Only the following licenses can be managed: MFA and SSO, Technician Elevation, Help Desk Verification"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/role_groups": {
      "get": {
        "summary": "Get all role groups",
        "description": "Get all role groups for the current environment",
        "operationId": "getRoleGroups",
        "tags": [
          "Role-Based Permissions"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term to filter role groups by name or description (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of role groups",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RoleGroup"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/tenants": {
      "get": {
        "summary": "Get all tenants",
        "description": "Get all tenants for the current environment",
        "operationId": "getTenants",
        "tags": [
          "Tenants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParameter"
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term to filter tenants by name or displayName (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tenants",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Tenant"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create a new tenant",
        "description": "Create a new tenant in the current environment",
        "operationId": "createTenant",
        "tags": [
          "Tenants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Tenant name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Tenant"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/tenants/{id}/licenses/usage": {
      "get": {
        "summary": "Get tenant license usage",
        "description": "Get license usage details for a specific tenant. Data is based on tenant license configs and includes allocation mode and available licenses calculation.",
        "operationId": "getTenantLicenseUsage",
        "tags": [
          "Licenses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant license usage details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Tenant license config ID"
                          },
                          "license": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "License ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "License name"
                              }
                            }
                          },
                          "amount": {
                            "type": "integer",
                            "description": "Allocated license amount from tenant_license record (0 if no allocation exists)"
                          },
                          "allocationMode": {
                            "type": "string",
                            "enum": [
                              "fixed",
                              "auto"
                            ],
                            "description": "License allocation mode"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether this license is enabled for the tenant"
                          },
                          "usedLicenses": {
                            "type": "integer",
                            "description": "Number of licenses currently in use"
                          },
                          "availableLicenses": {
                            "oneOf": [
                              {
                                "type": "integer",
                                "description": "Number of available licenses"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "unlimited"
                                ],
                                "description": "Unlimited licenses available (auto-expand enabled)"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/tenants/{id}": {
      "get": {
        "summary": "Get tenant by ID",
        "description": "Get a single tenant by ID",
        "operationId": "getTenantById",
        "tags": [
          "Tenants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Tenant"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Update a tenant",
        "description": "Update a tenant's display name by ID. Only the displayName field can be updated.",
        "operationId": "updateTenant",
        "tags": [
          "Tenants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tenant ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "displayName"
                ],
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "Tenant display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Tenant"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete a tenant",
        "description": "Delete a tenant by ID",
        "operationId": "deleteTenant",
        "tags": [
          "Tenants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/tenants/{id}/tenant_accesses": {
      "get": {
        "summary": "Get tenant accesses",
        "description": "Retrieve all users and manual groups that have access to a tenant. Returns a paginated list of user and group accesses. Requires canManageTenantAccess permission.",
        "operationId": "getTenantAccesses",
        "tags": [
          "Tenant Accesses"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tenant ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term to filter by user email, first name, last name, or group name and description (case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by access type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "group"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant accesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "user"
                                ],
[...]
